@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
--color-purple: #8B5CF6;
--color-pink: #EC4899;
--color-gray: #9CA3AF;
--color-black: #1F2937;
--card-size: 23rem;
}
.carousel {
  position: relative;
  width: var(--card-size);
  height: var(--card-size);
  perspective: 500px;
  transform-style: preserve-3d;
}
.card-container {
  position: absolute;
  width: 100%;
  height: 100%;
  transform: 
    rotateY(calc(var(--offset) * 50deg)) 
    scaleY(calc(1 + var(--abs-offset) * -0.4))
    translateZ(calc(var(--abs-offset) * -30rem))
    translateX(calc(var(--direction) * -5rem));
    transition: all 0.3s ease-out;

}
.card {
  width: 100%;
  height: 100%;
  padding: 2rem;
  background-color: hsl(280deg, 40%, calc(100% - var(--abs-offset) * 50%));
  border-radius: 1rem;
  color: var(--color-gray);
  text-align: justify;
  transition: all 0.3s ease-out;
  }
  h2 {
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    margin: 0 0 0.7em;
    color: var(--color-black);
  }

  p, h2 {
    transition: all 0.3s ease-out;
    opacity: var(--active);
    
  }

  

  .nav {
    color: white;
    font-size: 5rem;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 50%;
    z-index: 2;
    cursor: pointer;
    user-select: none;
    background: unset;
    border: unset;
    
  }
  .left {
    transform: translateX(-205%) translatey(-50%);

  }

  .right {
    right: 0;
    transform: translateX(205%) translatey(-50%);
  }

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background-image: linear-gradient(45deg, var(--color-purple), var(--color-pink));
}



@layer base {
  
#radio1:checked ~ .first{
 @apply ml-0;
}

#radio2:checked ~ .first{
  @apply ml-[-25%];
}
#radio3:checked ~ .first{
  @apply ml-[-50%];
}
#radio4:checked ~ .first{
  @apply ml-[-75%];
}



}

.navigation-auto div {
  border: 2px solid  #20a6ff;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  transition: 1s;
}
.navigation-auto {
  position: absolute;
  width: 200px;
  margin-top: 259px;
  display: flex;
  justify-content: center;
}

.navigation-auto div:not(:last-child){
  margin-right: 6px;
}

#radio1:checked ~ .navigation-auto .auto-btn1,
#radio2:checked ~ .navigation-auto .auto-btn2,
#radio3:checked ~ .navigation-auto .auto-btn3,
#radio4:checked ~ .navigation-auto .auto-btn4 {
  background-color: #fff;
}



